@import 'tailwindcss';

@theme {
  --shadow-cause-shadow: 0px 4px 17px 0px #00000008;
  --shadow-featureShadow: 0px 72px 129px 0px #0000001a;

  --spacing-70\%: 70%;

  --color-primary: #0057ff;
  --color-midnight_text: #001b50;
  --color-Lightsuccess: #e7f8f2;
  --color-deepSlate: #6493ea;
  --color-orange-primary: #fe841a;
  --color-green-primary: #19683d;
  --color-text-primary: #f1e6ca;
  --color-secondary-text: #2b2b2b;
  --color-warm-bg: #fcfaf4;

  --text-86: 5.375rem;

  --background-image-header: linear-gradient(
    120.3deg,
    #ffbf87 31.56%,
    hsla(0, 0%, 100%, 0) 94.83%
  );
  --background-image-testimonial-bg: url('/images/people/bg-line.png');

  --leading-130: 130%;
  --leading-140: 140%;
  --leading-180: 180%;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  section {
    @apply py-10;
  }

  h1 {
    @apply text-black text-6xl md:text-86 font-semibold;
  }

  h2 {
    @apply text-black text-4xl sm:text-5xl font-semibold sm:leading-14 leading-12;
  }

  h3 {
    @apply text-black text-3xl sm:text-4xl font-semibold;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}

html {
  scroll-behavior: smooth;
}
